<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Web-->
    <add key="WebAppUrl" value="https://www.saucedemo.com/" />

    <add key="UserName" value="standard_user" />
    <add key="Password" value="secret_sauce" />
	  <add key="ImplicitWait" value="15" />
   
    
  </appSettings>
</configuration>
