<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Web-->
    <add key="WebAppUrl" value="https://www.saucedemo.com/" />

    <add key="UserName" value="standard_user" />
    <add key="Password" value="secret_sauce" />
	  <add key="ImplicitWait" value="15" />
    
    
    <!--Mobile-->
    <add key="PlatformName" value="Android" />
    <add key="DeviceName" value="Marco" />
    <add key="PlatformVersion" value="Android 10" />
    <add key="BrowserName" value="Chrome" />
    <add key="IPDevice" value="127.0.0.1:4723" />
   
    
  </appSettings>
</configuration>
